<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.production.infrastructure.persistence.mapper.DepartmentMapper">

    <resultMap id="DepartmentResultMap" type="com.example.production.domain.model.organization.Department">
        <id property="departmentCode" column="部門コード"/>
        <result property="departmentName" column="部門名"/>
        <result property="createdAt" column="作成日時"/>
        <result property="createdBy" column="作成者"/>
        <result property="updatedAt" column="更新日時"/>
        <result property="updatedBy" column="更新者"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.production.domain.model.organization.Department">
        INSERT INTO "部門マスタ" (
            "部門コード",
            "部門名",
            "作成日時",
            "更新日時"
        ) VALUES (
            #{departmentCode},
            #{departmentName},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <select id="findByDepartmentCode" resultMap="DepartmentResultMap">
        SELECT * FROM "部門マスタ"
        WHERE "部門コード" = #{departmentCode}
    </select>

    <delete id="deleteAll">
        TRUNCATE TABLE "部門マスタ" CASCADE
    </delete>
</mapper>
