<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <package name="com.example.accounting.infrastructure.out.persistence.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/AccountMapper.xml"/>
        <mapper resource="mapper/AccountStructureMapper.xml"/>
        <mapper resource="mapper/TaxTransactionMapper.xml"/>
        <mapper resource="mapper/JournalMapper.xml"/>
        <mapper resource="mapper/AutoJournalManagementMapper.xml"/>
        <mapper resource="mapper/AutoJournalPatternMapper.xml"/>
        <mapper resource="mapper/AutoJournalPatternItemMapper.xml"/>
        <mapper resource="mapper/AutoJournalLogMapper.xml"/>
        <mapper resource="mapper/DailyAccountBalanceMapper.xml"/>
        <mapper resource="mapper/FinancialDataMapper.xml"/>
    </mappers>
</configuration>
