<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ScalikeJDBC SQL ログ -->
    <logger name="scalikejdbc" level="DEBUG"/>

    <!-- Http4s ログ -->
    <logger name="org.http4s" level="INFO"/>

    <!-- Flyway ログ -->
    <logger name="org.flywaydb" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
