{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_lint, rebar3_fmt]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unknown
    ]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "fizzbuzz"},
    {base_plt_apps, [stdlib, kernel]},
    {base_plt_location, global}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [fizzbuzz]}
]}.
